{% extends "manager/manager_home.html" %}
{% block body %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><center><form action="" method="post" enctype="multipart/form-data">

<table width="200" border="0"class="table table-hover">

  <tr>
    <th scope="row">NAME</th>
    <td colspan="2">
      <label for="textfield"></label>
      <input type="text" name="n" id="textfield" value="{{ data['name'] }}" required/>
    </td>
    </tr>
     <tr>
    <th scope="row">PLACE</th>
    <td colspan="2">
      <label for="textfield"></label>
      <input type="text" name="pla" id="textfield" value="{{ data['place'] }}" required />
    </td>
    </tr>
 <tr>
    <th scope="row">PIN</th>
    <td colspan="2">
      <label for="textfield"></label>
      <input type="text" name="pin" id="textfield" value="{{ data['pin'] }}" pattern="[6-9][0-9]{5}"  />
    </td>
    </tr>
    <tr>
    <th scope="row">POST</th>
    <td colspan="2">
      <label for="textfield"></label>
      <input type="text" name=post id="textfield" value="{{ data['post'] }}" required />
    </td>
    </tr>
    <tr>
    <th scope="row">HOME NAME</th>
    <td colspan="2">
      <label for="textfield"></label>
      <input type="text" name="hname" id="textfield" value="{{ data['hname'] }}" required />
    </td>
    </tr>
<tr>
    <th scope="row">PHONE NUMBER</th>
    <td colspan="2">
      <label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" value="{{ data['ph_no'] }}" pattern="[6-9][0-9]{9}" />
    </td>
    </tr>
    <tr>
    <th scope="row">mail</th>
    <td colspan="2">
      <label for="textfield3"></label>
      <input type="email" name="textfield7" id="textfield3" value="{{ data['mail'] }}" required />
    </td>
    </tr>

  <tr>
    <th scope="row">IMAGE</th>
    <td><img src="{{ data['image'] }}" alt="nophoto" height="100" width="100"/></td>
    <td><label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" required /></td>
  </tr>
    <tr><td>
        <input type="submit" name="button" id="button" value="Submit" /></td></tr>
</table></form></center>
</body>
</html>
{% endblock %}