{% extends "manager/manager_home.html" %}
{% block body %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><center><form action="" method="get"><table width="978" border="1"class="table table-hover">
  <tr>
    <th width="8" scope="col">#</th>
    <th width="105" scope="col">TURF NAME</th>
    <th width="105" scope="col">TURF LOCATION</th>
    <th width="144" scope="col">TOURNAMENT NAME</th>
    <th width="184" scope="col">PRICE</th>
      <th width="112" scope="col">Details</th>

      <th></th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
{#    <td>&nbsp;{{ i['name'] }}</td>#}
    <td>&nbsp;{{ i['turf_name'] }}</td>
    <td><a href="https://www.google.com/maps/?q={{ i['latitude'] }},{{ i['Longitude'] }}">TRACK</a></td>
          <td>{{ i['tournament_name'] }}</td>

    <td>{{ i['price'] }}</td>
    <td>{{ i['details'] }}</td>
  <td><a href="/tournament_sheduling/{{ i['tournament_id'] }}">SCHEDULE</a><br>
  <a href="/view_schedule/{{ i['tournament_id'] }}">VIEW SCHEDULE</a>
  <br><a href="/view_tpayment">View payment</a></td></td>
  </tr>
    {% endfor %}
</table>
</form></center>
</body>
</html>
{% endblock %}