<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><center><form action="" method="post"><table width="271" border="0">
  <tr>
    <th colspan="2" scope="row">login</th>
    </tr>
  <tr>
    <th width="84" scope="row">username</th>
    <td width="171"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></td>
  </tr>
  <tr>
    <th scope="row">password</th>
    <td><label for="textfield2"></label>
      <input type="password" name="textfield2" id="textfield2" /></td>
  </tr>
   </tr>
  <tr>
    <th colspan="2" scope="row"><p>
      <input type="submit" name="button" id="button" value="login" />
    </p>
      <p><a href="/prop_reg" style="color: black" >Register as manager</a> </p></th>
      <p><a href="/user_reg">Register as user</a> </p></th>
  </tr>
</table>
</form></center>
</body>
</html>
