{% extends "public/public home.html" %}
{% block body %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="520" border="1"class="table table-hover">
    <tr>
      <th width="8" scope="col">#</th>
      <th width="64" scope="col">TURF NAME</th>
      <th width="51" scope="col">LOCATION</th>
{#      <th width="51" scope="col">PLACE</th>#}
      <th width="153" scope="col">DETAILS</th>
      <th width="153" scope="col">PH.NO</th>
      <th width="153" scope="col">IMAGE</th>
{#      <th width="153" scope="col">&nbsp;</th>#}
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i['turf_name'] }}</td>
    <td><a href="https://www.google.com/maps/?q={{ i['latitude'] }},{{ i['Longitude'] }}">TRACK</a></td>
{#      <td>&nbsp;{{ i['place'] }}</td>#}
      <td>{{ i['details'] }}</td>
      <td>&nbsp;{{ i['ph_no'] }}</td>
      <td><img src="{{ i['image'] }}" alt="nophoto" height="100" width="100"/></td>
{#      <td><p><a href="send_request/{{ i['turf_id'] }}">send request</a></p>#}
{#      <p><a href="/add_rating/{{ i['turf_id'] }}">send rating</a></p>#}
{#      <p><a href="/add_feedback/{{ i['turf_id'] }}">send feedback</a></p></td>#}
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}