{% extends "user/user home.html" %}
{% block body %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post">
  <table width="200" height="116" border="1"class="table table-hover">
    <tr>
      <th scope="row">9's/7's/5's</th>
      <td><label for="select"></label>
        <select name="select" id="select">
        <option value="9s">9's</option>
        <option value="7s">7's</option>
        <option value="5s">5's</option>


      </select></td>
    </tr>
    <tr>
      <th style="color: #fff;">DATE</th>
      <td><label for="textfield"></label>
        <input type="date" name="textfield" id="textfield"required /></td>
    </tr>
    <tr>
      <th scope="row">STARTING TIME</th>
      <td><label for="textfield1"></label>
      <label for="select2"></label>
      <select name="select2" id="select2">
       <option value="3">3PM</option>
        <option value="4">4PM</option>
         <option value="5">5PM</option>
          <option value="6">6PM</option>
           <option value="7">7PM</option>
            <option value="8">8PM</option>
             <option value="9">9PM</option>
              <option value="10">10PM</option>
               <option value="11">11PM</option>
                <option value="12">12AM</option>
      </select></td>
    </tr>
       <tr>
      <th scope="row">HOUR</th>
      <td><label for="textfield1"></label>1hr (Rs 1400/-)
        <input name="radio" type="radio" id="checkbox" value="1400">
        <label for="checkbox"><br>
           2hr (Rs 2500/-)
           <input name="radio" type="radio" id="checkbox2" value="2500">
        </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Submit" /></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
