{% extends "user/user home.html" %}
{% block body %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="520" border="1"class="table table-hover">
    <tr>
      <th width="8" scope="col">#</th>
      <th width="64" scope="col">TURF NAME</th>
{#      <th width="51" scope="col">LOCATION</th>#}
{#      <th width="51" scope="col">PLACE</th>#}
{#      <th width="153" scope="col">DETAILS</th>#}
      <th width="153" scope="col">PH.NO</th>
      <th width="153" scope="col">MEMBERS</th>
      <th width="153" scope="col">DATE AND TIME</th>
{#      <th width="153" scope="col"> STATUS</th>#}
      <th></th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i['turf_name'] }}<BR><img src="{{ i['image'] }}" alt="nophoto" height="100" width="100"/></td>
{#      <td>&nbsp;{{ i['turf_location'] }}</td>#}
      <td>{{ i['ph_no'] }}</td>
      <td>{{ i['members'] }}</td>
      <td>Date: {{ i['date'] }}<br>Time: {{ i['time'] }}</td>
{#      <td>ACCEPTED</td>#}
      <td>
          {% if i['status']=='accepted' %}
           <p><a href="/send_partner/{{ i['booking_id'] }}">SEARCH PARTNER </a></p>
           <p><a href="/view_partner_req_status/{{ i['booking_id'] }}">VIEW STATUS</a></p>
          {% else %}
          {{ i['status'] }}</td>
        {% endif %}
{#      <td><p><a href="send_request/{{ i['turf_id'] }}">send request</a></p>#}
{#      <p><a href="#">send review</a></p></td>#}
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}