{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body><center><form action="" method="post" enctype="multipart/form-data">#}
{##}
{#<table width="200" border="0"class="table table-hover">#}
{##}
{#  <tr>#}
{#    <th scope="row">NAME</th>#}
{#    <td>#}
{#      <label for="textfield"></label>#}
{#      <input type="text" name="n" id="textfield" />#}
{#    </td>#}
{#  </tr>#}
{#     <tr>#}
{#    <th scope="row">PLACE</th>#}
{#    <td>#}
{#      <label for="textfield"></label>#}
{#      <input type="text" name="pla" id="textfield" />#}
{#    </td>#}
{#  </tr>#}
{# <tr>#}
{#    <th scope="row">PIN</th>#}
{#    <td>#}
{#      <label for="textfield"></label>#}
{#      <input type="text" name="pin" id="textfield" />#}
{#    </td>#}
{#  </tr>#}
{#    <tr>#}
{#    <th scope="row">POST</th>#}
{#    <td>#}
{#      <label for="textfield"></label>#}
{#      <input type="text" name=post id="textfield" />#}
{#    </td>#}
{#  </tr>#}
{#    <tr>#}
{#    <th scope="row">HOME NAME</th>#}
{#    <td>#}
{#      <label for="textfield"></label>#}
{#      <input type="text" name="hname" id="textfield" />#}
{#    </td>#}
{#  </tr>#}
{#<tr>#}
{#    <th scope="row">PHONE NUMBER</th>#}
{#    <td>#}
{#      <label for="textfield3"></label>#}
{#      <input type="text" name="textfield3" id="textfield3" />#}
{#    </td>#}
{#  </tr>#}
{#    <tr>#}
{#    <th scope="row">mail</th>#}
{#    <td>#}
{#      <label for="textfield3"></label>#}
{#      <input type="email" name="textfield7" id="textfield3" />#}
{#    </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">Password</th>#}
{#    <td>#}
{#      <label for="textfield6"></label>#}
{#      <input type="password" name="textfield6" id="textfield3" />#}
{#    </td>#}
{#  </tr>#}
{#<tr>#}
{#    <th scope="row">Confirm Password</th>#}
{#    <td>#}
{#      <label for="textfield6"></label>#}
{#      <input type="password" name="textfield17" id="textfield3" />#}
{#    </td>#}
{#  </tr>#}
{##}
{#  <tr>#}
{#    <th scope="row">IMAGE</th>#}
{#    <td>#}
{#      <label for="fileField"></label>#}
{#      <input type="file" name="fileField" id="fileField" />#}
{#    </td>#}
{#  </tr>#}
{#    <tr><td>#}
{#        <input type="submit" name="button" id="button" value="Submit" /></td></tr>#}
{#</table></form></center>#}
{#</body>#}
{#</html>#}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/static/reg/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/static/reg/css/style.css">
</head>
<body>

    <div class="main">

        <section class="signup">
{#            <!-- <img src="images/signup-bg.jpg" alt=""> -->#}
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form" enctype="multipart/form-data">
                        <h2 class="form-title">Create account</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="n" id="name" required placeholder="Your Name"required/>
                        </div>
                         <div class="form-group">
                            <input type="text" class="form-input" name="hname" id="name" placeholder="Your House Name"required/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="pla" id="name" placeholder="Your Place"required/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="post" id="name" placeholder="Your Post"required/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="pin" id="name" placeholder="Your Pin"pattern="[1-9][0-9]{5}"/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="textfield7" id="email" placeholder="Your Email" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="textfield3" id="name" placeholder="Your Phone"pattern="[6-9][0-9]{9}"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="textfield6" id="password" placeholder="Password" required/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                         <div class="form-group">
                            <input type="text" class="form-input" name="textfield17" id="password" placeholder="Confirm Password" required/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="file" class="form-input" name="fileField" id="name" placeholder="Image" required/>
                        </div>


                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                        </div>
                    </form>
{#                    <p class="loginhere">#}
{#                        Have already an account ? <a href="#" class="loginhere-link">Login here</a>#}
{#                    </p>#}
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="/static/reg/vendor/jquery/jquery.min.js"></script>
    <script src="/static/reg/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>