{% extends "user/user home.html" %}
{% block body %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1"class="table table-hover">
    <tr>
      <th scope="row">USER NAME</th>
      <td>{{ data['name'] }}</td>
    </tr>
    <tr>
      <th scope="row">EMAIL</th>
      <td>{{ data['mail'] }}</td>
    </tr>
    <tr>
      <th scope="row">PHONE NUMBER</th>
      <td>{{ data['ph_no'] }} </td>
    </tr>
    <tr>
      <th scope="row">PLACE</th>
      <td>{{ data['place'] }}</td>
    </tr>
       <tr>
      <th scope="row">POST</th>
      <td>{{ data['post'] }}</td>
    </tr>
       <tr>
      <th scope="row">PIN</th>
      <td>{{ data['pin'] }}</td>
    </tr>
       <tr>
      <th scope="row">HOUSE NAME</th>
      <td>{{ data['hname'] }}</td>
    </tr>
    <tr>
      <th scope="row">IMAGE</th>
      <td><img src="{{ data['image'] }}" alt="nophoto" height="100" width="100"/></td>
    </tr>
  </table>
    <br>
    <table width="200" border="0"class="table table-hover">

    <tr>
      <th  scope="row"><a href="/update_profile">UPDATE</a></th>
        <th  scope="row"><a href="/logout">Logout</a></th>
        <th  scope="row"><a href="/change_password">Change password</a></th>
    </tr>
    </table>
</form>
</body>
</html>
{% endblock %}